body {
  margin: auto;
  padding: 0;
  max-width: 1400px;
  position: relative;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
}

h2 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

h3 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

p {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

a {
  text-decoration: none;
  color:#000000;
  width: 100%;
}

img {
  object-fit: cover;
}

i {
  color: #0065fc;
}

/*********** nav bar ***********/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  padding: 0px 45px;
}

.logo {
  width: 65%;
}

.logo img {
  width: 61px;
}

nav a {
  position: relative;
  border: 2px solid #ffffff;
  padding: 20px 0 20px 0;
  width: 50%;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  line-height: 19px;
}

nav a:hover {
  color: blue;
  border-top: 2px blue solid;
}

nav {
  display: flex;
  width: 300px;
  justify-content: space-around;
  cursor: pointer;
}

/*********** search-bar ***********/

.search {
  padding: 0px 40px;
}

form {
  margin: 20px;
  margin-left: 0;
  display: flex;
  align-items: center;
  text-align: center;
}

input[type=text] {
  width: 200px;
  height: 13px;
  border: solid 1px #f2f2f2;
  padding: 12px;
}

input[type="submit"],
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0065fc;
  color: white;
  font-size: 15px;
  font-weight: 700;
  border: solid 1px #f2f2f2;
  border-left: none;
  border-radius: 0 15px 15px 0;
  height: 41px;
  padding: 0px 15px;
  cursor: pointer;
  margin-left: -5px;
}

.btn {
  display: none;
}

#label {
  background-color: #f2f2f2;
  height: 8px;
  border: solid 1px #f2f2f2;
  border-radius: 15px 0 0 15px;
  padding: 15px 20px;
  margin: -5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#label i {
  color: black;
  font-size: 16px;
}


/*********** filtre ***********/

.big-box-filtre{
  display: flex;
  align-items: baseline;
  padding: 20px 40px;
}

.box-filtre{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  margin-bottom: 15px;
}

.filtre-btn {
  border: 2px solid #D9D9D9;
  font-weight: bold !important;
  border-radius: 25px;
  background-color: white;
  margin-left: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.filtre-btn i {
  color: #000000;
}

i.fas.fa-money-bill-wave {
  color: #0065fc;
}

i.fas.fa-male {
  color: #0065fc;
}

i.fas.fa-heart{
  color: #0065fc;
}

i.fas.fa-dog{
  color: #0065fc;
}

.filtre-btn  .fas {
  margin-right: 10px;
}

.filtre-btn:hover {
  background-color: #DEEBFF;
}

/*********** Info ***********/

.box-info {
  display: flex;
  align-items:center;
  padding: 0px 40px;
  margin-bottom: 10px;
}

.fa-info {
  width: 5px;
  height: 12px;
  color: #0065fc;
  border-radius: 100%;
  border: 1px solid #d9d9d9;
  padding: 5px 8px;
  font-size: 11px;
}

.box-info p {
  margin-left: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
}

/*********** Card herbergement + populaire ***********/

.box-hebergement-populaire {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px 40px;
}

.box-hebergement {
  background: #F2F2F2;
  border-radius: 20px;
  width: 64%;
  padding: 20px
}

.box-hebergement h2 {
  margin-top: 35px;
}

.card-hebergement {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-hebergement img {
  align-self: center;
  width: 96%;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
  padding-top: 4px;
  height: 105px;
}

.card-hebergement h3 {
  margin-bottom: 2px;
  font-size: 16px;
  font-weight: bold;
  margin-left: 10px;
  margin-top: 2px;
}

.card-hebergement p {
  font-size: 14px;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 6px;
}

.big-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.box-hebergement h1 {
  margin-top: -5px;
  margin-bottom: 15px;
}

.box-populaire h1 {
  display: flex;
  justify-content: space-between;
  font-size: 22px;
  align-items: center;
}

.box-populaire {
  background: #F2F2F2;
  border-radius: 20px;
  width: 31%;
  padding: 20px
}

.card-populaire {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 20px;
  margin-bottom: 25px;
}

.afficher {
  margin-top: 30px;
}

.card-hebergement i:last-child,
.card-populaire i:last-child {
  color: #f2f2f2;
}

.card-populaire img {
  height: 92%;
  align-self: center;
  width: 40%;
  object-fit: cover;
  border-radius: 20px 20px 20px 20px;
  padding: 4px;
}

.card-populaire h3 {
  font-size: 16px;
  font-weight: bold;
}

.card-populaire p {
  font-size: 14px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.box-populaire h1 {
  margin-top: 5px;
  margin-bottom: 15px;
}

.big-box-2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

/*********** card activite ***********/

.box-activite {
  padding: 20px 40px;
}

.card-activite{
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 20px 20px 20px 20px;
  overflow: hidden;
  width: 100%;
}

.card-activite img{
  height: 300px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}

.card-activite h2 {
  font-size: 14px;
  margin-top: 10px;
  margin-left: 10px;
}

.card-activite-infos{
  background: blueviolet;
}

.box-activite h1 {
  margin-bottom: 20px;
}

.big-box-3 {
  display: flex;
  flex-direction: row;
  grid-gap: 25px;
}

/*********** Footer ***********/

footer {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-around;
  background: #F2F2F2;
  margin: 0px 40px;
  margin-top: 35px;

}

footer a {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin-bottom: 10px;
}

.a-propos {
  display: flex;
  flex-direction: column;
}

.hebergement {
  display: flex;
  flex-direction: column;
}

.assistance {
  display: flex;
  flex-direction: column;
}

/*********** media ***********/

/*********** tablette ***********/

@media screen and (max-width: 991px) and (min-width: 767px) {
  header {
    padding : 0px 20px;
  }

  main {
    padding : 0px 20px;
  }

  .filtre-btn {
    display: flex;
    align-items: center;
    margin-left: 5px;
  }

  .box-hebergement-populaire {
    display: flex;
    flex-direction: column;
  }

  .box-hebergement {
    width: 95%;
  }

  .box-populaire {
    width: 95%;
  }

  .big-box-2 {
    display: flex;
    flex-direction: row;
    height: 240px;
  }

  .card-populaire{
    width: 100%;
    height: 190px;
    margin-top: 20px;
  }

  .card-populaire h3 {

    margin: 2px 2px 2px 2px;
  }

  .card-populaire p {

    margin: 15px 2px 2px 2px;
  }

  footer {
    margin : 50px 40px 0px 40px;
    padding : 15px 0px 25px 0px;
  }
}

/*********** telephone ***********/

@media screen and (max-width: 767px) {

  header {
    flex-direction: column;
  }

  .logo {
    width: 61px;
    margin-top: 40px;
  }

  nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    cursor: pointer;
  }

  nav a:hover {
    color: blue;
    border-bottom: 2px blue solid;
    border-top: 0px;
  }

  .search {
    padding: 0px 20px;
  }

  .search-French {
    display: none;
  }

  .search-button {
    display: flex;
  }

  i.fas.fa-search {
    color: #fff;
    font-size: 17px;
  }

  .fa-map-marker-alt {
    height: 18px;
  }

  .big-box-filtre {
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0px 20px;
    margin-bottom: 20px;
  }

  .box-filtre {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .filtre-btn {
    font-size: 11px;
    margin-left: 0px;
    color: #000000;
  }

  .box-info {
    padding: 0px 20px;
  }

  .box-hebergement-populaire {
    display: flex;
    flex-direction: column-reverse;
    padding: 0px;
  }

  .box-populaire{
    border-radius: 0px;
    width: 100%;
  }

  .big-box-2 {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .card-populaire {
    height: 135px;
    margin-top: 15px;
    margin-bottom: 0px;
  }

  .box-hebergement{
    background-color: #fff;
    width: 100%;
  }

  .big-box {
    display: flex;
    flex-direction: column;
  }

  .card-hebergement {
    height: 235px;
    margin-top: 10px;
  }

  .card-hebergement img {
    height: 140px;
  }

  .card-hebergement h3 {
    margin-top: 10px;
  }

  .afficher {
    display: none;
  }

  .box-activite {
    padding: 0px 20px;
  }

  .big-box-3 {
    display: flex;
    flex-direction: column;
  }

  .card-activite {
    height: 180px;
    width: 100%;
  }

  .card-activite h2 {
    font-size: 16px;
  }

  .card-activite img {
    height: 130px;
  }

  footer {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
    width: 100%;
    margin: 0px;
  }
}
