body {
  margin-top: 45px;
  margin-left: 50px;
  margin-right: 50px;
  font-family: 'Raleway', sans-serif;
}

img {
  width: 61.09px;
  height: 19px;
}

nav a {
  text-decoration: none;
  color : black;
  padding-top: 43px ;
  padding-left: 20px;
  padding-right: 20px;

}

nav a:hover {
  color: blue;
  border-top: 2px blue solid;
}

nav {
  margin-right: 70px;

}

h1 {
  margin-bottom: 0px;
}

p {
  margin-top: 8px;
}
